<!--<!DOCTYPE html 
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" $HTMLTagAttr>
-->
<!DOCTYPE html>
<html $HTMLTagAttr>
<head>
  <title>{$Titlespaced} - $WikiTitle $ActionTitle</title>
  <link rel="icon" href="$SkinDirUrl/logo.png" type="image/x-icon" />
  <!--<meta http-equiv='Content-Style-Type' content='text/css' />-->
  <link rel='stylesheet' href='$SkinDirUrl/pmwiki.css' type='text/css' />
  <script src="$ScriptUrl/pub/jquery.js" defer></script>
  <script src="$ScriptUrl/pub/paste.js" defer></script>
  <script src="$ScriptUrl/pub/engine.js" defer></script>
  <!--HTMLHeader-->
</head>
<body>
<!--PageHeaderFmt-->
  <div id='wikilogo'>
    <a href='{$ScriptUrl}'>
      <img src='$PageLogoUrl' alt='$WikiTitle' border='0' style='width: 37px;margin-left: 99px;'/>
    </a>
  </div>
  <div id='wikihead'>
    <form action='{$ScriptUrl}'>
      <input type='hidden' name='n' value='{$FullName}' />
      <input type='hidden' name='action' value='search' />
      <input type='text' name='q' value='' placeholder='Search' class='inputbox searchbox' />
      <input type='submit' style='display:none' class='inputbutton searchbutton' value='$[Go]'/>
  </form>
  </div>
<!--/PageHeaderFmt-->
  <table id='wikimid' width='100%' cellspacing='0' cellpadding='0'>
  <tr>
<!--PageLeftFmt-->
      <td id='wikileft' valign='top'><!--wiki:{$Group}.SideBar {$SiteGroup}.SideBar--></td>
<!--/PageLeftFmt-->
      <td id='wikibody' valign='top'>
<!--PageActionFmt-->
        <div id='wikicmds'><!--wiki:{$Group}.PageActions {$SiteGroup}.PageActions--></div>
<!--PageTitleFmt-->
        <div id='wikititle'>
          <div class='pagegroup'><a id='rtnf' href='{$ScriptUrl}/{$Group}/<!--markup:{*$:Class}-->' ><!--markup:{*$:Class}--></a> /</div>
          <h1 class='pagetitle'>{$Titlespaced}</h1>
          <div style='display:none' id='imgstrg'><!--markup:{*$:Imgstrg}--></div>
        </div>
<!--PageText-->
      </td>
    </tr>
  </table>
  <div id="dropzone">
    <form>
      <input type="file" id="fileElem" multiple onchange="handleFiles(this.files)">
    </form>
  </div>
<!--PageFooterFmt-->

<!--HTMLFooter-->
</body>
</html>
